@{
    Layout = null;
    ViewBag.Title = "Instructions";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    

</head>
<body>

    <h1><strong>OOPS ! You've entered incorrect details.</strong></h1>
    <h3>Instructions for Admins!</h3>
    <ol>
        <li>Do not forget your credentials.</li>
        <li>Never share your credentials.</li>
    </ol>


    <a href="@Url.Action("Login","Employee")">Back to Login</a>

</body>
</html>